* {
	margin: 0;
	padding: 0;
	font-family: Consolas, monaco, monospace;
	color: white;
}

body {
	background-color: white;
}

#images {
	display: flex;
	background-color: white;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 10px;
}

#images img {
	cursor: pointer;
    transition: all 1s;
    margin: 0 5px 10px 5px;
}

.img {
	width: calc(210px / 2);
	height: calc(297px / 2);
}

.bigimg {
	width: calc(297px * 1.4142857142857143 / 2);
	height: calc(297px / 2);
}